{% set background_image = page.header.background_image ? page.media[page.header.background_image] : page.media.images|first %}
<footer class="footer lazy" {% if background_image %} data-bg="linear-gradient(to top, rgba(0, 172, 204, .7), rgba(0, 129, 153, 0.9)), url({{ background_image.url }})"{% else %} data-bg="linear-gradient(to top, rgba(0, 172, 204, .7), rgba(0, 129, 153, 0.9))"{% endif %} role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
	<div class="grid-container inner">
		<h2 data-aos="fade" class="major bubbles" itemprop="headline">{{ page.header.title }}</h2>
		<div data-aos="fade" data-aos-delay="500">{{ page.content }}</div>
		{# <div class="grid-x grid-padding-x"> #}
			{# <div data-aos="fade-right" data-aos-delay="1000" class="first-column large-6 medium-6 cell"> #}
            <div data-aos="fade-right" data-aos-delay="1000" class="first-column">
				<ul class="menu social">
					{% if page.find('/site-details').header.facebook.url %}
						<li itemprop="url">
							<a href="{{ page.find('/site-details').header.facebook.url }}" class="small button" title="Visit us on Facebook" target="_blank" rel="noreferrer" itemprop="name"><svg class="icon icon-{{ page.find('/site-details').header.facebook.icon }}" role="img"><use xlink:href="#icon-{{ page.find('/site-details').header.facebook.icon }}"></use></svg>&nbsp;Facebook</a>
						</li>
					{% endif %}
					{% if page.find('/site-details').header.instagram.url %}
						<li itemprop="url">
							<a href="{{ page.find('/site-details').header.instagram.url }}" class="small button" title="Follow us on Instagram" target="_blank" rel="noreferrer" itemprop="name"><svg class="icon icon-{{ page.find('/site-details').header.instagram.icon }}" role="img"><use xlink:href="#icon-{{ page.find('/site-details').header.instagram.icon }}"></use></svg>&nbsp;Instagram</a>
						</li>
					{% endif %}
					{% if page.find('/site-details').header.twitter.name %}
						<li itemprop="url">
							<a href="https://twitter.com/{{ page.find('/site-details').header.twitter.name }}" class="small button" title="Follow us on Twitter" target="_blank" rel="noreferrer" itemprop="name"><svg class="icon icon-{{ page.find('/site-details').header.twitter.icon }}" role="img"><use xlink:href="#icon-{{ page.find('/site-details').header.twitter.icon }}"></use></svg>&nbsp;Twitter</a>
						</li>
					{% endif %}
                    {% if page.find('/site-details').header.number %}
						<li itemprop="url">
							<a href="tel:{{ page.find('/site-details').header.number|replace({' ': ''}) }}" class="small button" title="Give us a call">
								<svg class="icon icon-call"><use xlink:href="#icon-call"></use></svg>&nbsp;Phone:&nbsp;{{ page.find('/site-details').header.number }}
							</a>
						</li>
                        {# <li>
                            <div class="flex-container info">
                                <div class="info-icon">
                                    <svg class="icon icon-call" role="img"><use xlink:href="#icon-call"></use></svg>
                                </div>
                                <div>
                                    <span class="info-title">Call</span><br>
                                    <div itemscope itemtype="https://schema.org/LocalBusiness">
                                        <span class="hide" itemprop="name">{{ site.title|e('html') }}</span>
                                        <span class="info-text" itemprop="telephone" content="{{ page.find('/site-details').header.number }}">{{ page.find('/site-details').header.number }}</span>
                                        <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                                            <meta itemprop="url" content="{{ base_url_absolute }}{{ background_image.url }}">
                                            <meta itemprop="width" content="{{ background_image.width }}">
                                            <meta itemprop="height" content="{{ background_image.height }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li> #}
					{% endif %}
				</ul>
				<div id="form-result" role="alert"></div>
				{% include "forms/form.html.twig" with { form: forms('contact-form')|raw } %}
			</div>
			{# <div data-aos="fade-left" data-aos-delay="1000" class="second-column large-6 medium-6 cell">
				<div class="flex-container info">
					<div class="info-icon">
						<svg class="icon icon-apartment-building" role="img"><use xlink:href="#icon-apartment-building"></use></svg>
					</div>
					<div>
						<span class="info-title">Location</span><br>
						<div itemscope itemtype="https://schema.org/LocalBusiness">
							<span class="info-text" itemprop="name">{{ site.title|e('html') }}</span><br>
							<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                {% if page.header.location.streetaddress %}
                                    <span class="info-text" itemprop="streetAddress">{{ page.header.location.streetaddress }},</span><br>
                                {% endif %}
                                {% if page.header.location.suburb %}
                                    <span class="info-text" itemprop="addressLocality">{{ page.header.location.suburb }}</span>&nbsp;
                                {% endif %}
                                {% if page.header.location.state %}
                                    <span class="info-text" itemprop="addressRegion">{{ page.header.location.state }}</span>&nbsp;
                                {% endif %}
                                {% if page.header.location.postcode %}
                                    <span class="info-text" itemprop="postalCode">{{ page.header.location.postcode }}</span>
                                {% endif %}
                            </div>
                            {% if background_image %}
                                <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                                    <meta itemprop="url" content="{{ base_url_absolute }}{{ background_image.url }}">
                                    <meta itemprop="width" content="{{ background_image.width }}">
                                    <meta itemprop="height" content="{{ background_image.height }}">
                                </div>
                            {% endif %}
						</div>
					</div>
				</div>
                {% if page.header.googlemaps.key %}
    				<div class="map-container">
    					<div id="map" class="google-map"></div>
    				</div>
                {% endif %}
				<div class="contact-info">
					{% if page.header.opening_hours.daystart %}
						<div class="flex-container info">
							<div class="info-icon">
								<svg class="icon icon-clock" role="img"><use xlink:href="#icon-clock"></use></svg>
							</div>
							<div>
								<span class="info-title">Opening Hours</span><br>
								<div itemscope itemtype="https://schema.org/LocalBusiness">
                                    <span class="hide" itemprop="name">{{ site.title|e('html') }}</span>
                                    <span class="info-text" itemprop="description">{{ page.header.opening_hours.description }}</span><br>
									<span class="info-text" itemprop="openingHours" content="{{ page.header.opening_hours.daystart|date("D")|slice(0, 2) }}-{{ page.header.opening_hours.dayend|date("D")|slice(0, 2) }} {{ page.header.opening_hours.timestart|date('H:i') }}-{{ page.header.opening_hours.timeend|date('H:i') }}">
                                        {{ page.header.opening_hours.daystart|date("l") }}&nbsp;&ndash;&nbsp;{{ page.header.opening_hours.dayend|date("l") }}&nbsp;{{ page.header.opening_hours.timestart|date('h:ia') }}&nbsp;&ndash;&nbsp;{{ page.header.opening_hours.timeend|date('h:ia') }}
                                    </span>
                                    <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                                        <meta itemprop="url" content="{{ base_url_absolute }}{{ background_image.url }}">
                                        <meta itemprop="width" content="{{ background_image.width }}">
                                        <meta itemprop="height" content="{{ background_image.height }}">
                                    </div>
								</div>
							</div>
						</div>
					{% endif %}
					{% if page.header.location.number %}
						<div class="flex-container info">
							<div class="info-icon">
								<svg class="icon icon-call" role="img"><use xlink:href="#icon-call"></use></svg>
							</div>
							<div>
								<span class="info-title">Call</span><br>
								<div itemscope itemtype="https://schema.org/LocalBusiness">
                                    <span class="hide" itemprop="name">{{ site.title|e('html') }}</span>
									<span class="info-text" itemprop="telephone" content="{{ page.header.location.number }}">{{ page.header.location.number }}</span>
                                    <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                                        <meta itemprop="url" content="{{ base_url_absolute }}{{ background_image.url }}">
                                        <meta itemprop="width" content="{{ background_image.width }}">
                                        <meta itemprop="height" content="{{ background_image.height }}">
                                    </div>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div> #}
		{# </div> #}
		<div class="grid-x copyright align-center-middle">
			<nav class="cell medium-12 large-10 copyright-text" aria-label="Bottom Navigation">
				<ul role="menu" class="menu">
					{% set currentYear = now|date("Y") %}
					<li class="menu-text" role="none">&copy;{{ currentYear }} {{ site.title|e('html') }}.</li>
					{% if page.find('/site-details').header.privacy_policy_page %}
						<li class="menu-text" role="menuitem" itemprop="url"><a href="{{ base_url }}{{ page.find('/site-details').header.privacy_policy_page }}" itemprop="name">Privacy</a></li>
					{% endif %}
                    {% if page.find('/site-details').header.terms_and_conditions_page %}
                        <li class="menu-text" role="menuitem" itemprop="url"><a href="{{ base_url }}{{ page.find('/site-details').header.terms_and_conditions_page }}" itemprop="name">Terms</a></li>
                    {% endif %}
				</ul>
			</nav>
			<div class="cell medium-12 large-2 copyright-logo">
				<a href="{{ home_url }}">
                    <svg class="icon-logo-mono" role="img" aria-labelledby="icon-logo-mono-title">
                        <title id="icon-logo-mono-title">{{ site.title|e('html') }}</title>
                        <use xlink:href="#icon-logo-mono"></use>
                    </svg>
				</a>
			</div>
		</div>
	</div>
</footer>