<section id="{{ page.header.title|hyphenize }}" class="wrapper features-section">
    <div class="grid-container inner">
      <h2 data-aos="fade" class="major bubbles" itemprop="headline">{{ page.header.title }}</h2>
        <div data-aos="fade" data-aos-delay="500">{{ content|raw }}</div>
        <section class="features grid-x grid-margin-x">
          {% for feature in page.header.features %}
             <div data-aos="fade" class="card-item cell medium-6">
                <article class="card">
                  {% set filename_ext = page.media[feature.graphic].filename|split('1x') %}
                  {# {% set imgcolour = GetImageColor(page.media[feature.graphic].path())[0] %} #}
                  <div class="card-image"{#  style="background: #{{ imgcolour }}" #}>
                    {% set feature_image = page.media[feature.graphic].derivatives(1230).sizes('(max-width:26em) 100vw, 50vw') %}
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAApJREFUeNpjYAAAAAIAAeUn3vwAAAAASUVORK5CYII=" data-src="{{ feature_image.url(false) }}" data-srcset="{{ feature_image.srcset(false) }}" width="{{ page.media[feature.graphic].width }}" height="{{ page.media[feature.graphic].height}}" alt="{{ filename_ext[0]|humanize|replace({'-' : " "}) }}" class="lazy">
                  </div>
                  <div class="card-section">
                    {% if feature.header %}
                      <h3 class="major" itemprop="headline">{{ feature.header }}</h3>
                    {% endif %}
                    {% if feature.text %}
                      {{ feature.text|markdown }}
                    {% endif %}
                    {% if feature.icon %}
                      <ul class="vertical menu">
                      {% for icon in feature.icon %}
                        <li><svg class="icon icon-{{ icon.icon }}" role="img"><use xlink:href="#icon-{{ icon.icon }}"></use></svg>&nbsp;{{ icon.header }}</li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                    {% if feature.url %}
                      <a class="special" href="{{ feature.url }}">{{ feature.linktext }}</a>
                    {% endif %}
                  </div>
                </article>
             </div>
          {% endfor %}
        </section>
    </div>
</section>