{# {% set image = page.media.images|first %} #}
<section id="{{ page.header.title|hyphenize }}" class="wrapper spotlight">
    <div class="grid-container inner">
        <div class="grid-x grid-margin-x align-middle">
            {% if page.media.images %}
                <div class="cell medium-6{% if page.header.image_align == 'right' %} small-order-2 medium-order-1{% else %} small-order-2 medium-order-2{% endif %}">
                    <h2 data-aos="fade-{% if page.header.image_align == 'right' %}left{% else %}right{% endif %}" class="major bubbles" itemprop="headline">{{ page.header.title }}</h2>
                    <div data-aos="fade" data-aos-delay="500">{{ content|raw }}</div>
                    {% if page.header.payicon %}
                        <ul class="menu expanded card-icons">
                        {% for icon in page.header.payicon %}
                            <li data-aos="fade-up" data-aos-duration="500">
                                <svg class="icon icon-{{ icon.icon }}" role="img" aria-labelledby="{{ icon.icon }}-title">
                                    <title id="{{ icon.icon }}-title">{{ icon.title }}</title>
                                    <use xlink:href="#icon-{{ icon.icon }}"></use>
                                </svg>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% if page.header.link_to_page.text %}
                        <a data-aos="fade" data-aos-delay="1700" class="special" href="{{ base_url }}{{ page.header.link_to_page.link|first }}">{{ page.header.link_to_page.text }}</a>
                    {% endif %}
                </div>
                {% set filename_ext = page.media.images|first.filename|split('1x') %}
                {# {% set colour = GetImageColor(page.media.images|first.path())[0] %} #}
                <div class="cell medium-6{% if page.header.image_align == 'right' %} image-right small-order-1 medium-order-2{% else %} small-order-1 medium-order-1{% endif %} image-area">
                    {% set text_image = page.media.images|first.derivatives(1230).cropZoom(1230,1230).sizes('(max-width:26em) 100vw, 50vw') %}
                    <picture>
                        <source data-srcset="{{ text_image.srcset(false)|replace({'jpg' : "jpg.webp", 'jpeg' : 'jpeg.webp'}) }}" type="image/webp">
                        <source data-srcset="{{ text_image.srcset(false) }}" type="image/jpeg"> 
                        <img class="lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAApJREFUeNpjYAAAAAIAAeUn3vwAAAAASUVORK5CYII=" data-src="{{ text_image.url(false) }}" width="{{ page.media.images|first.width }}" height="{{ page.media.images|first.height }}" alt="{{ filename_ext[0]|humanize|replace({'-' : " "}) }}">
                    </picture>
                    {#<img class="lazy"  style="background: #{{ colour }}"  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAApJREFUeNpjYAAAAAIAAeUn3vwAAAAASUVORK5CYII=" data-src="{{ text_image.url(false) }}" data-srcset="{{ text_image.srcset(false) }}" width="{{ page.media.images|first.width }}" height="{{ page.media.images|first.height }}" alt="{{ filename_ext[0]|humanize|replace({'-' : " "}) }}">#}
                    {# <div class="lazy-placeholder"></div> #}
                </div>
            {% else %}
                <div class="cell small-12">
                    <h2 data-aos="fade" class="major bubbles" itemprop="headline">{{ page.header.title }}</h2>
                    <div data-aos="fade" data-aos-delay="500">{{ content|raw }}</div>
                    {% if page.header.payicon %}
                        <ul class="menu expanded card-icons">
                        {% for icon in page.header.payicon %}
                            <li data-aos="fade-up" data-aos-duration="500">
                                <svg class="icon icon-{{ icon.icon }}" role="img" aria-labelledby="{{ icon.icon }}-title">
                                    <title id="{{ icon.icon }}-title">{{ icon.title }}</title>
                                    <use xlink:href="#icon-{{ icon.icon }}"></use>
                                </svg>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% if page.header.link_to_page.text %}
                      <a data-aos="fade" data-aos-delay="1700" class="special" href="{{ base_url }}{{ page.header.link_to_page.link|first }}">{{ page.header.link_to_page.text }}</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</section>